<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="false" scan="true" scanPeriod="30 seconds" packagingData="true">
    <contextName>polaris-sync</contextName>

    <springProperty scope="context" name="log.path" source="logging.path"/>
    <springProperty scope="context" name="log.level" source="logging.level.root"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %p [%-5t:%c{2}] %m%n</pattern>
        </encoder>
    </appender>

    <appender name="POLARIS_SYNC_STAT_LOG_FILE"
            class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}/polaris-sync-stat.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${log.path}/polaris-sync-stat.log.%i</fileNamePattern>
            <maxIndex>7</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>10MB</maxFileSize>
        </triggeringPolicy>

        <encoder>
            <pattern>%m%n</pattern>
        </encoder>
    </appender>


    <appender name="POLARIS_SYNC_LOG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}/polaris-sync.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${log.path}/polaris-sync.log.%i</fileNamePattern>
            <maxIndex>7</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>10MB</maxFileSize>
        </triggeringPolicy>

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %p [%-5t:%c{2}] %m%n</pattern>
        </encoder>
    </appender>

    <logger name="cn.polarismesh.polaris.sync" level="${log.level:-info}"
            additivity="false">
        <appender-ref ref="POLARIS_SYNC_LOG_FILE"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="sync-stat-logger" level="info"
            additivity="false">
        <appender-ref ref="POLARIS_SYNC_STAT_LOG_FILE"/>
    </logger>

    <root level="${log.level:-info}">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
